.footer {
  background: #17043A;

  &-menu {
    @media (max-width: 450px) {
      width: 100%;
      padding: 2.4rem 0;
    }
    ul{
      @media (max-width: 450px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }
    li {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
        @media (max-width: 1200px) {
          margin-bottom: 1rem;
        }
      }
      @media (max-width: 450px) {
        width: 50%;
      }
    }

    a {
      color: #FFF;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 992px) {
        font-size: 1.6rem;
      }
    }
    &:not(:last-child){
      @media (max-width: 450px) {
        border-bottom: 1px solid rgba(#fff, 0.2);
      }
    }
  }

  &-menus {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20rem;
    @media (max-width: 1200px) {
      gap: 10rem;
    }
    @media (max-width: 992px) {
      gap: 6rem;
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
    @media (max-width: 450px) {
      gap: 0;
    }
  }

  &-column {
    @media (max-width: 670px) {
      width: 100%;
    }
    &:first-child {
      width: 100%;
      max-width: 36rem;
      @media (max-width: 670px) {
        max-width: 100%;
        margin-bottom: 3rem;
      }
    }
  }

  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (max-width: 670px) {
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &-certificates {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  &-certificate {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: auto;
    max-width: 20rem;
    @media (max-width: 1200px) {
      max-width: 15rem;
      height: 9rem;
    }
  }

  &__logo {
    margin-bottom: 6rem;
    width: 36.4rem;
    height: 5.1rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1024px) {
      margin-bottom: 2.4rem;font-size: 2.4rem;
    }
    @media (max-width: 768px) {
      width: 28rem;
      height: 4rem;
    }
    @media (max-width: 767px) {
      width: 17rem;
      height: 2.5rem;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    padding: 1.6rem 0;
    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;
    }
  }

  &-social-networks {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      flex-grow: 0;
      flex-shrink: 0;
      transition: 0.5s ease-in-out;
      &:hover{
        transform: scale(0.9);
      }
    }
  }
}

.copyright {
  opacity: 0.5;
  color: #FFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}