html {
  font-size: 10px;
  @media (max-width: 1700px) {
    font-size: 9px;
  }
  @media (max-width: 375px) {
    font-size: 10px;

  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #67656A;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;

  &.safari * {
  }
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.content {
  position: relative;
  flex: 1;
}

a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

img:not(.pswp__img) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
}

.container {
  width: 100%;
  max-width: 154.4rem;
  margin: 0 auto;

  &--small {
    max-width: 128.4rem;
  }

  @media (max-width: 1600px) {
    padding: 0 1.6rem;
  }
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.hidden {
  display: none !important;
}

[data-link] {
  cursor: pointer;
}

input, textarea {
  color: #17043A;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;

  &::placeholder {
    color: #17043A;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    opacity: 0.4;
  }
}

.title {
  margin-bottom: 3.2rem;
  color: #17043A;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  @media (max-width: 1600px) {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
  @media (max-width: 1024px) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  @media (max-width: 375px) {
    margin-bottom: 2.4rem;
    font-size: 2.8rem;
  }
}

.section {
  &-padding {
    padding: 6rem 0;
    @media (max-width: 450px) {
      padding: 3rem 0;
    }

    &--top {
      padding-top: 6rem;
      @media (max-width: 450px) {
        padding-top: 6rem;
      }
    }

    &--bottom {
      padding-bottom: 6rem;
      @media (max-width: 450px) {
        padding-bottom: 3rem;
      }
    }
  }
}

.text {
  color: #67656A;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  @media (max-width: 450px) {
    font-size: 1.6rem;
  }

  h1{
    color: #17043A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 6.44rem */
    text-transform: capitalize;
    @media (max-width: 450px) {
      font-size: 4rem;
    }
  }

  h2{
    color: #17043A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 4.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 6.44rem */
    text-transform: capitalize;
    @media (max-width: 450px) {
      font-size: 3rem;
    }
  }
  h3{
    color: #17043A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 6.44rem */
    text-transform: capitalize;
    @media (max-width: 450px) {
      font-size: 2.8rem;
    }
  }
  h4{
    color: #17043A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 6.44rem */
    text-transform: capitalize;
    @media (max-width: 450px) {
      font-size: 2.2rem;
    }
  }
  h5{
    color: #17043A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 6.44rem */
    text-transform: capitalize;
    @media (max-width: 450px) {
      font-size: 2rem;
    }
  }
  h6{
    color: #17043A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 6.44rem */
    text-transform: capitalize;
    @media (max-width: 450px) {
      font-size: 1.8rem;
    }
  }

  & > * {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  a {
    color: #5A00FF;

    &:hover {
      text-decoration: underline;
    }
  }

  ul li {
    position: relative;
    padding-left: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      left: 0;
      top: 1.4rem;
      background-color: #5A00FF;
    }
  }
}

input, textarea {
  &.error {
    border-color: red !important;
  }
}

.slick {
  &__prev {
    border-radius: 0.8rem 0rem 0rem 0.8rem;
    border-top: 1px solid #E0DEE4;
    border-bottom: 1px solid #E0DEE4;
    border-left: 1px solid #E0DEE4;
  }

  &__next {
    border-radius: 0rem 0.8rem 0.8rem 0rem;
    border: 1px solid #E0DEE4;
  }

  &-nav {
    display: flex;
    height: 5.6rem;
    @media (max-width: 600px) {
      height: 4rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.4rem 3.2rem;

      @media (max-width: 600px) {
        padding: 0.5rem 2rem;
      }

      &:hover {
        border-color: #5A00FF;
      }
    }
  }

  &-slide {
    height: auto !important;
  }

  &-dots {
    bottom: -3rem !important;

    li {

      @media (max-width: 600px) {
        margin: 0 !important;
      }

      button:before {
        color: #5A00FF !important;
      }
    }
  }
}

.slider-progress {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tab-content {
  display: none;
  &.active{
    display: block;
  }
}