
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
  background: #5A00FF;
  color: #FFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;

  }
  svg path{
    transition: 0.4s ease-in-out;
    fill: #fff;
  }
  &:hover{
    background: #FFF;
    color: #5A00FF;
    svg path{
      fill: #5A00FF;
    }
  }
}