.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: flex-end;
  justify-content: space-between;

  button {
    outline: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: 1.3rem 1.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    border: 1px solid #5A00FF;
    background: #5A00FF;
    color: #FFF;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    @media (max-width: 450px) {
      padding: 1rem;
      font-size: 1.8rem;
    }
    &:hover {
      background: #fff;
      color: #5A00FF;
    }
  }

  &-label {
    position: relative;
    display: block;
    width: 100%;
    color: rgba(#020a1b, 1);
    font-family: "Inter", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;

    &.half {
      width: calc(50% - 1.6rem);
      @media (max-width: 450px) {
        width: 100%;
      }
    }

    &.third {
      width: calc(33.3% - 1.6rem);
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &-head {
      display: block;
      margin-bottom: 0.8rem;
    }

    &.error {
      .selectric, .book-form-photos {
        border-color: red !important;
      }
    }
  }

  &-quantity {
    width: 15rem;
    flex-grow: 0;
    flex-shrink: 0;
    @media (max-width: 767px) {
      width: calc(100% - 6rem);
    }

    &:last-child {
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    input {
      width: 100%;
      padding-right: 60%;
    }

    &-controls {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      @media (max-width: 767px) {
        width: 15rem;
      }

      a {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &-wrapper {
      position: relative;
      display: flex;
    }
  }


  .radio {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #020A1B;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    cursor: pointer;


    .icon {
      position: relative;
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      flex-grow: 0;
      flex-shrink: 0;
      border: 1px solid #D0D4DD;
      border-radius: 50%;

      &:after {
        position: absolute;
        display: block;
        content: '';
        border-radius: 50%;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(#DA3134, 0);
        transition: 0.2s ease-in-out;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      &:checked {
        & + .icon {

          &:after {
            width: 50%;
            height: 50%;
            background-color: rgba(#DA3134, 1);
          }
        }
      }
    }
  }

  &-policy {
    display: flex;
    gap: 0.8rem;
    color: #67656A;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    @media (max-width: 375px) {
      font-size: 1.8rem;
    }

    .icon {
      position: relative;
      cursor: pointer;
      margin-top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.6rem;
      height: 2.6rem;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 0.4rem;
      border: 1px solid #E0DEE4;
      background: #FFF;
      transition: 0.2s ease-in-out;
      @media (max-width: 375px) {
        margin-top: 0;
      }
      &:after {
        position: absolute;
        display: block;
        content: '';
        left: calc(50% - 3px);
        top: calc(50% - 5px);
        width: 8px;
        height: 2rem;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transition: 0.2s ease-in-out;
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked {
        & + .icon {
          background-color: #5A00FF;

          &:after {
            transform: rotate(36deg) translateY(-0.6rem) translateX(-0.6rem);
          }
        }
      }
    }
  }
}

.selectric {
  background-color: #fff;
  border: 1px solid #D0D4DD;

  &-items {
    background-color: #fff;

    li {
      color: rgba(#020A1B, 0.6);
      font-family: "Inter", serif;
      font-size: 1.7rem;
      font-style: normal;
      font-weight: 400;
      line-height: 165%;
    }
  }

  .button {
    padding: 0;
    height: 100%;
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  .label {
    padding: 1rem 0;
    height: auto;
    color: rgba(#020a1b, 1);
    font-family: "Inter", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
  }

  &-below {
    .label {

      color: rgba(#020A1B, 1);
    }
  }
}

input, textarea {
  width: 100%;
  padding: 1.3rem 1.4rem;
  border-radius: 0.8rem;
  border: 1px solid #E0DEE4;
  background: #FFF;
  color: rgba(#67656A, 1);
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  @media (max-width: 375px) {
    padding: 1rem;
    font-size: 1.8rem;
  }
  &::placeholder {
    color: rgba(#67656A, 0.6);
    font-family: "Hind Siliguri", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    @media (max-width: 375px) {
      font-size: 1.8rem;
    }
  }

  &.error {
    border-color: red;
  }
}

textarea {
  resize: none;
  outline: none;
}

