.announced {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: stretch;

  &-item {
    width:  calc(25% - 1.6rem);
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px){
      width:  calc(33.3% - 1.6rem);
    }
    @media (max-width: 767px){
      width:  calc(50% - 1.6rem);
    }
    @media (max-width: 450px){
      width: 100%;
    }
    &__title {
      margin-bottom: 2.4rem;
    }

    &-data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      justify-content: space-between;
      padding: 2.4rem 3.2rem 3.2rem 3.2rem;
      border-radius: 0rem 0rem 1.4rem 1.4rem;
      border-right: 1px solid #E0DEE4;
      border-bottom: 1px solid #E0DEE4;
      border-left: 1px solid #E0DEE4;
      @media (max-width: 1024px) {
        padding: 1.8rem 2rem 2rem 2rem;

      }
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 21rem;
      align-self: stretch;
      border-radius: 1.4rem 1.4rem 0rem 0rem;
      overflow: hidden;
      @media (max-width: 450px){
        height: 19.4rem;
      }
    }
  }
}