.near {
  &-head {
    position: relative;
    display: flex;
    gap: 0.8rem;
    margin-left: 1.6rem;

    &__item {
      display: flex;
      padding: 1.4rem 3.2rem;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      border-radius: 0.8rem 0.8rem 0rem 0rem;
      border-top: 1px solid #E0DEE4;
      border-right: 1px solid #E0DEE4;
      border-left: 1px solid #E0DEE4;
      background-color: #fff;
      color: #17043A;
      font-family: "Hind Siliguri", sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-transform: capitalize;
      transition: 0.5s ease-in-out;

      @media (max-width: 1024px) {
        min-width: calc(20% - 0.8rem);
        border-radius: 0.8rem;
        border: 1px solid #E0DEE4;
      }
      @media (max-width: 992px) {
        min-width: calc(33.3% - 0.8rem);
      }
      @media (max-width: 580px) {
        min-width: calc(50% - 0.8rem);
      }
      @media (max-width: 450px) {
        width: auto;
        min-width: 13rem;
        padding: 1rem 1.6rem;
        border-radius: 0.8rem 0.8rem 0rem 0rem;
        border-top: 1px solid #E0DEE4;
        border-right: 1px solid #E0DEE4;
        border-left: 1px solid #E0DEE4;
        border-bottom: none;
        font-size: 1.6rem;
      }

      svg {
        path {
          fill: #17043A;
          transition: 0.5s ease-in-out;
        }
      }

      .icon {
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.active, &:hover {
        background: #17043A;
        border-color: #17043A;
        color: #FFF;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1rem;
      margin-left: 0;
    }
    @media (max-width: 992px) {
      justify-content: flex-start;
    }
    @media (max-width: 450px) {
      flex-wrap: nowrap;
      margin: 0 1.6rem;
      padding-right: 1rem;
      overflow: auto;
    }

    &-container {
      position: relative;
      @media (max-width: 450px) {
        &:after {
          position: absolute;
          content: '';
          display: block;
          height: 100%;
          width: 7rem;
          bottom: 0;
          right: 0;
          background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
          pointer-events: none;
        }
      }
    }

  }

  &-event {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    &:not(:last-child){
      border-bottom: 1px solid #E0DEE4;
    }
    background: #FFF;
    font-family: "Hind Siliguri", sans-serif;
    transition: 0.4s ease-in-out;

    @media (max-width: 767px) {
      padding: 1.6rem;
    }
    @media (max-width: 500px) {
      flex-wrap: wrap;
    }

    &-content {
      flex: 1;
      margin-right: 2.4rem;
      @media (max-width: 500px) {
        margin-right: 0;
      }
    }

    &__button {
      gap: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem 3.2rem;
      border-radius: 0.8rem;
      background: #5A00FF;
      color: #FFF;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-transform: capitalize;
      @media (max-width: 767px) {
        padding: 1.2rem;
        font-size: 1.6rem;
        line-height: 120%;
      }
      @media (max-width: 500px) {
        width: 100%;
        margin-top: 1.6rem;
      }
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        @media (max-width: 767px) {

          width: 1.6rem;
          height: 1.6rem;
        }
      }
      svg path {
        fill: #fff;
        transition: 0.5s ease-in-out;
      }

      &:hover {

        background: rgba(#5A00FF, 0.8);
      }
    }

    &__tickets {
      color: #F27129;
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    &__place {
      margin-bottom: 0.8rem;
      color: #17043A;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    &__title {
      margin-bottom: 0.8rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: #17043A;
      text-overflow: ellipsis;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 135%; /* 3.24rem */
      text-transform: capitalize;
      @media (max-width: 767px) {
        font-size: 1.8rem;
      }
    }

    &-date {
      margin-right: 2.4rem;
      width: 16rem;
      border-radius: 1.2rem;
      background: #F9F5FF;
      padding: 2.4rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      color: #67656A;
      text-overflow: ellipsis;
      font-family: "Hind Siliguri", sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      text-align: center;
      transition: 0.4s ease-in-out;
      @media (max-width: 767px) {
        width: auto;
        margin-right: 1.6rem;
        padding: 1.6rem;
        font-size: 1.6rem;
      }

      strong {
        display: block;
        margin-bottom: 0.8rem;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 135%;
        text-transform: capitalize;
        color: #5A00FF;
        @media (max-width: 767px) {
          font-size: 1.8rem;
        }
      }
    }

    &:hover{
      background: #F9F5FF;
      .near-event-date{
        background-color: #fff;
      }
    }
  }

  &-container{
    width: 100%;
    max-width: 128.4rem;
    margin: 0 auto;
  }

  &-table {
    border-radius: 1.6rem;
    border: 1px solid #E0DEE4;
    overflow: hidden;
    display: none;

    &.active {
      display: block;
    }
  }
}